* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 63px;
  font-family: "Inter", sans-serif;
}

.title{
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title-second{
  font-weight: 400;
  font-family: "Noto Sans Display", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
